.onscreen-debug-canvas {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid blue;
}

.ColorizerStack {
  position: relative;

  .stack {
    position: absolute;
    top: 0;
    left: 0;
  }
}
