$imageWidth: 800px;
$imageHeight: 600px;

@import "components/elements/index";
@import "components/panel/GraphicsPanel";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.App {
  //https://doodad.dev/pattern-generator/
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='50' height='50' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(45)'%3E%3Crect width='100%25' height='100%25' fill='%232d3748'/%3E%3Ccircle cx='34' cy='20' r='4' fill='%234a5568'/%3E%3Ccircle cx='6' cy='20' r='4' fill='%234a5568'/%3E%3Ccircle cx='20' cy='34' r='4' fill='%234a5568'/%3E%3Ccircle cx='20' cy='6' r='4' fill='%234a5568'/%3E%3Ccircle cx='34' cy='6' r='4' fill='%231a202c'/%3E%3Ccircle cx='6' cy='34' r='4' fill='%231a202c'/%3E%3Ccircle cx='34' cy='34' r='4' fill='%231a202c'/%3E%3Ccircle cx='6' cy='6' r='4' fill='%231a202c'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  height: 600px;
  font-family: 'Inter', sans-serif;

}

.ColorizerStack {
  position: absolute;
  top: 0;
  left: 0;

  .stack {
    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1;
    font-size: 4em;
    cursor: pointer;
    margin: 3px;
    padding: 0.65em;
  }

  &#element_0 {
    .title {
      bottom: 0;
      right: 0;
    }
  }

  &#element_1 {
    .title {
      bottom: 0;
      left: 0;
    }
  }

  &#element_2 {
    .title {
      top: 0;
      right: 0;
    }
  }

  &#element_3 {
    .title {
      top: 0;
      left: 0;
    }
  }

  svg { //TEMP
    position: absolute;
    top: 0;
    left: 0;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ImageStack {
  img {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }
}

.stage {
  border: 1px solid blue;
  background: antiquewhite;
  width: $imageWidth * 2;
  height: $imageHeight * 2;
}

.stage-window {
  width: 800px;
  height: 800px;
  border: 1px solid #ce19cc;
  background: #acece4;
}

.CanvasStack {
  z-index: 0;
}

#onscreen-debug-canvas {
  position: fixed;
  top: 0;
  right: 0;

}

#pixel-debugger-canvas {
  position: fixed;
  bottom: 0;
  right: 0;

}

#image-cropper-canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;


}

.top-buttons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
